<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>零售</title>
</head>
<body style="background-color: lightgrey">
    <div style="width: 100%;border: solid silver 1px;">
        <div class="header content">
            <!--<ul class="fla">
                <li th:text="${session.aa}"></li>
                <li class="spacer"></li>
            </ul>-->
            <ul class="fr" style="margin: 0px;padding: 0px;">
                <li><a>免费注册</a></li><li> | </li><li><a href="https://passport.jd.com/new/login.aspx?ReturnUrl=http%3A%2F%2Fwww.jd.com%2F">你好，请登录</a></li>
            </ul>
        </div>
    </div>
    <div class="header content">
        sdfdsfsdfsdffdsdfsddsf<br>
        sfsdfdsfsdfsdfd
    </div>
</body>
</html>

<script>

</script>

<style>
    .fl{
        float: left;
    }
    .fr li{
        float: right;
        /*padding: 10px 5px;*/
    }
    .content {
        margin-left:auto;
        margin-right:auto;
    }
    li {list-style-type:none;}
    .header{
        width: 90%;border: solid red 1px;
        min-height:25px;
        height: auto;
    }
</style>